<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
	<!-- 项目名 -->
	<property name="PROJECT" value="oa-struct-service" />
	<!-- 项目包路径 -->
	<property name="PACKAGE" value="com.haozi.component.oastruct.service" />
	<!-- 文件输出路径 -->
	<property name="DEV_FILE_PATH" value="D:/logs/${PROJECT}" />
	<property name="FILE_PATH" value="/home/${PROJECT}" />
	<!-- 文件输出格式 -->
	<property name="PATTERN"
		value="TEST %-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />

	<!-- 输出到日志文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- 按天划分进行文件输出，超过指定大小对文件备份 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${FILE_PATH}/${PROJECT}.%d{yyyy-MM-dd}-%i.log.zip
			</FileNamePattern>
			<!-- 文件最大保存历史数量 -->
			<MaxHistory>15</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- 设置文件大于50M进行压缩归档 -->
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>${PATTERN}</pattern>
		</encoder>
	</appender>

	<!-- 开发环境 -->
	<springProfile name="dev">
		<!-- 控制台输出日志 -->
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>

		<root level="info">
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>
		<root level="info">
			<appender-ref ref="FILE" />
			<appender-ref ref="STDOUT" />
		</root>
	</springProfile>
</configuration>  