<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzrj.starter.service.dao.Data1Mapper">
	<select id="get" resultType="int">
		select count(*) from aquatic_all_price_info
	</select>
</mapper>